<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
  xmlns:gap   = "http://phonegap.com/ns/1.0"
  id          = "com.phonegap.example"
  versionCode = "10"
  version     = "1.0.0" >

  <!-- versionCode is optional and Android only -->

  <name>Buy XP!</name>

  <description>
    Compra por Buy XP!
  </description>

  <author href="https://buy-xp.com" email="miguel.artica@alexim.com">
    Alexim Systems
  </author>

  <preference name="orientation" value="portrait" />
  <icon src="img/icono.png" platform="android" qualifier="ldpi" />
  <icon src="img/icono.png" platform="android" qualifier="mdpi" />
  <icon src="img/icono.png" platform="android" qualifier="hdpi" />
  <icon src="img/icono.png" platform="android" qualifier="xhdpi" />
  <icon src="img/icono.png" platform="android" qualifier="xxhdpi" />
  <icon src="img/icono.png" platform="android" qualifier="fr-xxhdpi" />

  <splash src="img/splash.png" platform="android" qualifier="ldpi" />
  <splash src="img/splash.png" platform="android" qualifier="mdpi" />
  <splash src="img/splash.png" platform="android" qualifier="hdpi" />
  <splash src="img/splash.png" platform="android" qualifier="xhdpi" />
  <splash src="img/splash.png" platform="android" qualifier="fr-xhdpi" />
  <splash src="img/splash.png" platform="android" qualifier="port-xxhdpi" />
  <splash src="img/splash.png" platform="android" qualifier="land-xxhdpi" />

  <plugin name="cordova-plugin-inappbrowser"  source="npm"/> 

</widget>